# Ignore everything
*

# Allow only specific files
# You don't want to upload your videos or transcripts to github
!.gitignore
!.gitattributes
!LICENSE
!README.md
!requirements.txt
!transcribe-video.py